{
  "itemName": "name xinxin",
  "itemDescription": "22",
  "pricePerHour": "3",
  "images": [
    "b12748aa-dba4-47d2-8ada-a85152f4c3ae"
  ],
  "quantity": 1,
  "rentalPeriods": [
    {
      "lowerBoundType": "CLOSED",
      "lowerEndpoint": "2015-02-03T14:00:00.000Z",
      "upperBoundType": "CLOSED",
      "upperEndpoint": "2015-02-05T13:00:00.000Z"
    }
  ]
}
